<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Yelp Camp</title>
</head>
<body>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-caption landing-header">
        <h1>Welcome to the YelpCamp!</h1>
        <a class="btn btn-lg btn-success" href="/campgrounds">Get Started</a>
    </div>
    <div class="item active">
      <img src="http://i.imgur.com/K3mPv14.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/SBEmFpv.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/emvhOnb.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/2LSMCmJ.jpg">
    </div>
    <div class="item">
      <img src="http://i.imgur.com/TVGe0Ef.jpg">
    </div>
  </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>