<%include partials/header%>
<h1>These are posts</h1>

<% for (let i = 0; i < posts.length; i++){%>
    <li><%= posts[i].title %> - <strong><%= posts[i].author %></strong></li>
<% } %>
<%= dir%>
<%include partials/footer%>